@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&display=swap");
body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif !important;
}
body .btn {
  padding: 10px 20px !important;
  font-size: 1.1rem;
  border-radius: 10px !important;
}
body .btn.btn-primary {
  background-color: #6C63FF !important;
  border-color: #6C63FF !important;
}
body nav {
  transition: 0.5s ease-in;
}
body nav.navbar-dark .container ul li a {
  color: white !important;
}
body nav.navbar-light .container ul li a {
  color: #222 !important;
}
@media screen and (max-width: 768px) {
  body nav .container .navbar-toggler {
    background-color: #6C63FF;
    border-color: #6C63FF;
    opacity: 1 !important;
  }
  body nav .container div {
    background: #222;
    border-radius: 10px;
    padding: 20px;
  }
}
body nav .container .navbar-brand {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  color: #6C63FF !important;
}
body nav .container div .btn-primary {
  padding: 10px 20px !important;
}
body nav .container div ul li {
  font-size: 1.1rem;
}
body nav .container div ul li a {
  transition: 0.3s ease-in;
}
body nav .container div ul li a:hover {
  color: #6C63FF !important;
}
body .hero {
  height: 100vh;
  width: 100%;
  background: url("../images/Curve Line.svg");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  body .hero {
    height: 100vh !important;
  }
  body .hero .col-md-6 .text-white h5 {
    font-size: 0.8rem;
  }
  body .hero .col-md-6 .text-white h1 {
    font-size: 1.8rem !important;
  }
  body .hero .col-md-6 .text-white p {
    font-size: 0.7rem;
  }
  body .hero .col-md-6:nth-child(2) {
    margin-top: 50px;
  }
  body .hero .col-md-6:nth-child(2) img {
    width: 50%;
  }
}
@media screen and (max-width: 768px) and (max-width: 425px) {
  body .hero .col-md-6:nth-child(2) img {
    width: 60%;
  }
}
body .hero .container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
body .hero .container .hero_text {
  width: 100%;
}
body .hero .container .hero_text .row .col-md-6 .text-white h5 {
  font-family: "Kaushan Script", cursive !important;
}
body .hero .container .hero_text .row .col-md-6 .text-white h1 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 2px;
}
body main section {
  padding: 5rem 0px;
}
body main section.about .container .row .col-md-6 h1 {
  font-family: "Kaushan Script", cursive;
}
body main section.about .container .row .col-md-6 .mt-3 ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}
body main section.services .container h1 {
  font-family: "Kaushan Script", cursive;
}
@media screen and (max-width: 768px) {
  body main section.services .container .mt-4 .row {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
}
@media screen and (max-width: 768px) and (max-width: 425px) {
  body main section.services .container .mt-4 .row {
    grid-template-columns: 1fr !important;
  }
  body main section.services .container .mt-4 .row .col-md-4 {
    width: 100%;
  }
  body main section.services .container .mt-4 .row .col-md-4:nth-child(2) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  body main section.services .container .mt-4 .row .col-md-4 {
    width: 100%;
  }
  body main section.services .container .mt-4 .row .col-md-4:last-child {
    margin-top: 20px;
  }
}
body main section.services .container .mt-4 .row .col-md-4 .card {
  border-radius: 10px;
}
body main section.services .container .mt-4 .row .col-md-4 .card h3 {
  font-family: "Kaushan Script", cursove;
  color: #6C63FF;
}
body main section.faq .container h1 {
  font-family: "Kaushan Script", cursive;
}
body main section.faq .container .mt-3 .accordion-button {
  box-shadow: none !important;
}
body footer {
  padding: 5rem 0px;
  background: url("../images/Rect Light.svg");
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=Style.css.map */